$black: #000;
$grey: #444;
$text-grey: #A0A0A0;
$light-grey: #cfcfcf;
$btn-active: #979797;
$white: #fff;

$breakpoint-tablet: 768px;
$breakpoint-phone: 375px;
$breakpoint-desktop: 1440px;

$font-size: 12px;
$font-size-title: 40px;

$font-weight: 600;



